<form method="POST" action="addSubmit">
<h2>New reservation</h2><br/>
	Cloudmesh Reservation ID: <input type="text" name="cm_id"><br/>
	User Name:                <input type="text" name="user"><br/>
	Project Name:             <input type="text" name="project"><br/>
	Label: 			  <input type="text" name="label"><br/>
	Host Machine: 		  <input type="text" name="host"><br/>
	Start Time:  		  <input type="text" name="start_time"><br/>
	End Time: 		  <input type="text" name="end_time"><br/>
	Summary:  		  <input type="text" name="summary"><br/><br/>
	                          <input type="submit" value="Submit">
</form>
OR upload file:	
<form method="POST" action="addFile" enctype="multipart/form-data">
	<input type="file" name="file" id="file">
	<input type="submit" value="Submit">
</form>
