<h2>Reservation Homepage</h2>

<ul>
<li><a href="http://127.0.0.1:5000/add"</a> Add a new reservation</li>
<li><a href="http://127.0.0.1:5000/list"</a> List a reservation</li>
<li><a href="http://127.0.0.1:5000/delete_all"</a> Delete all resource reservations</li>
<li><a href="http://127.0.0.1:5000/delete"</a> Delete a reservation</li>
<li><a href="http://127.0.0.1:5000/duration"</a> Look the duration of a reservation</li>
<li><a href="http://127.0.0.1:5000/findall"</a> List all reservations</li>
<li><a href="http://127.0.0.1:5000/find_cm_id"</a> Find a reservation seraching by Cloudmesh Resource ID</li>
</ul>
