{% extends "layout.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}

    <h1 class="page-header">
            Reservation Dashboard
            <p class="lead">(A Cloudmesh Project)</p>
    </h1>

<ul>
<li><a href="/add"</a>Add a new reservation</li>
<li><a href="/list"</a>List a reservation</li>
<li><a href="/delete_all"</a>Delete all resource reservations</li>
<li><a href="/delete"</a>Delete a reservation</li>
<li><a href="/duration"</a>Look the duration of a reservation</li>
<li><a href="/findall"</a>List all reservations</li>
<li><a href="/find_cm_id"</a>Find a reservation seraching by Cloudmesh Resource ID</li>
</ul>

{% endblock %}

