{% extends "layout.html" %}

{% block content %}
<br><p></p>
    <h2>Reservations</h2>


            <table id="example" class="display" cellspacing="0" >
	      <thead>
		<tr>
		  {% for attribute in order %}
		  <th> {{ attribute }} </th>
		  {% endfor %}
		  </tr>
	      </thead>
	      <tbody>
		{% for reservation in reservations %}
		<tr>
		    {% for attribute in order %}     
		    <td> {{ reservation[attribute] }} </td>
		    {% endfor %}
		  </tr>
	        {% endfor %}
              </tbody>
            </table>


	  <br>
	  
<script type="text/javascript" charset="utf8">
$(document).ready(function() {
    $('#example').dataTable();
} );	  
</script>
	  
{% endblock content %}
