{% extends "layout.html" %}

{% block content %}
<br><p></p>
    <h2>Reservations</h2>

          <div class="table-responsive">
            <table class="table table-striped">
	      <thead>
		<tr>
		  {% for attribute in order %}
		  <th> {{ attribute }} </th>
		  {% endfor %}
		</tr>
	      </thead>
	      <tbody>
		{% for reservation in reservations %}
		<tr>
		  {% for attribute in order %}     
		    <td> {{ reservation[attribute] }} </td>
		  {% endfor %}
		</tr>
	        {% endfor %}
              </tbody>
            </table>
          </div>

  
{% endblock content %}
